<% if display %>
	<% unless display.categories.empty? %>
	    <% unless display.get_data().nil? %>
    		<%= display.get_data().round(2) %>
    	<% else %>
    	    <p class='no_data'>No entries for this category</p>
    	<% end %>
	<% end %>
<% end %>
