<% if display %>
    <p class="display_data chart"></p>
    <%= render partial: "display_types/shared/item_list", locals: { display: display } %>
<% end %>

<script>
charts.pie('#display_<%= display.id %> .chart', '<%= user_display_path(@user, display, format: :json) %>')
</script>
