<% if display %>
    <p class="display_data chart"></p>
    <%= render partial: "display_types/shared/item_list", locals: { display: display } %>
<% end %>

<%= javascript_tag type: 'module' do -%>
  import * as charts from "charts"

  charts.streamgraph('#display_<%= display.id %> .chart', '<%= user_display_path(@user, display, format: :json) %>')
<% end -%>
