<% if display %>
  <% unless display.categories.empty? %>
  	  <% if display.get_data().nil? %>
    		<p class='no_data'>No data</p>
      <% else %>
    		<p class='display_data'><%= time_ago_in_words display.get_data, false %></p>
  	<% end %>
  <% else %>
    <p class='no_categories'>No categories</p>
  <% end %>
<% end %>