<% if display %>
	<% unless display.categories.empty? %>
	    <% unless @display_data.nil? %>
    		<%= @display_data.round(2) %>
    	<% else %>
    	    <p class='no_data'>No entries for this category</p>
    	<% end %>
	<% end %>
<% end %>
