<tr>
  <% if defined? show_entry_name %>
  <td><%= link_to entry.item.name, user_entry_path(@user, entry) %></td>
  <% end %>
  <td><%= entry.quantity %></td>
  <td><%= entry.datetime.strftime("%-d/%-m/%Y %r") %></td>
  <td><%= link_to 'Remove', user_entry_path(@user, entry), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
