<ul id="page_list" class="nav navbar-nav">
	<% @pages.each do |page| %>
        <% if page.should_show_for? current_user %>
        <% unless current_page? user_page_path(@user, page) %>
	        <li class="nav-item">
		<% else %>
		    <li class="nav-item active">
		<% end %>
		    <%= link_to user_page_path(@user, page) do %>
		        <%= page.title %>
                <% if page.is_private %>
		            <%= content_tag(:span, "", class: "glyphicon glyphicon-lock") %>
	            <% end %>
	        <% end %>
		</li>
		<% end %>
	<% end %>
</ul>
