# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: SQLite

on: [push]

env:
    DB: sqlite
    CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby:
          - "3.1"
          - "3.2"
    steps:
      - uses: actions/cache@v4
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ matrix.ruby}}-${{ hashFiles('**/Gemfile.lock') }}
      - uses: actions/checkout@v4
      - name: Set up Ruby ${{ matrix.ruby }}
      # To automatically get bug fixes and new Ruby versions for ruby/setup-ruby,
      # change this to (see https://github.com/ruby/setup-ruby#versioning):
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Use Node.js 12.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
      - name: Install gem build dependencies
        run: sudo apt-get install libsqlite3-dev libpq-dev libmysqlclient-dev
      - name: Install dependencies
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
      - name: Secret key
        run: |
          echo "LedgrApp::Application.config.secret_key_base = '$(bundle exec rails secret)'" > config/initializers/secret_token.rb
          echo "Devise.secret_key = '$(bundle exec rails secret)'" >> config/initializers/secret_token.rb
          echo "LedgrApp::Application.config.twofactor_key = '$(bundle exec rails secret)'" >> config/initializers/secret_token.rb
      - name: Run database migrations
        run: RAILS_ENV=test bundle exec rails db:migrate
      - name: Run tests
        run: bundle exec rails test
